body{
    background: linear-gradient(to bottom left, navy, cyan );
    font-family: tahoma;
    color: #989898;
    transition: 0.8s;
}

p.title{
  font-size: 50px;
  align: center;
  color:white;
  padding: 15px 10px 15px 40px;
  font-family: impact;
  letter-spacing: 4px;
  word-spacing: 4px;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    top:-50px;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:white;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition:.7s;
}

button:hover{
  background-color: grey;
  transition: .7s;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .7s;
    background-color: #23282e;
    border-color: blue;
}

li:hover{
    color:white;
    background-color: grey;
    transition: .5s;
}

h1{
    background: url(/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
